<div id="background-img">
  <div class="container absoluto">
    <div class="row mt-1">
      <div class="mx-5 col-lg-7 col-md-12">
        <div class="card">
          <div class="card-header">
              <h3 class="text-center font-weight-light my-1">Esqueci minha senha?</h3>
          </div>
          <div class="card-body">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>
            
              <div class="form-inputs">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
              </div>
            
              <div class="form-actions">
                <%= f.button :submit, "Me enviar instruções para recuperação da senha", class: "btn btn-danger mt-3 " %>
              </div>
            <% end %>
            <div class="card-footer d-flex justify-content-between mt-5">
              <%= render "devise/shared/links" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>