<nav class="sb-topnav navbar navbar-expand navbar-light bg-light d-print-none">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3 d-flex align-items-center" href="/">
    <%= image_tag "if-logo.png", height: "60" , class: "d-inline-block align-text-top" %>
    <span>Siseve - Gerenciamento de Eventos</span>
  </a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <!-- Navbar-->
  <ul class="d-flex navbar-nav justify-content-end flex-grow-1 pe-3">
    <% if current_user %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.email %> <i class="bi bi-person-circle"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                  <%= link_to 'Perfil', edit_user_registration_path, class: "dropdown-item" %>
              </li>
              
              <li><hr class="dropdown-divider" /></li>
              <li>
                <%= link_to 'Sair', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Tem certeza?' } , class: "dropdown-item" %>
              </li>
          </ul>
      </li>
    <% else %>
      <li>
        <%= link_to 'LOGIN', user_session_path , class: "nav-link me-5" %>
      </li>
    <% end %>
  </ul>
</nav>