<div class="container"></div>
<div class="row mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Evento</h3>
        </div>
        <div class="card-body">
            <%= simple_form_for @event do |form| %>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <%= form.input :name %>
                    </div>
                    <div class="col-12 col-md-6">
                        <%= form.input :local %>
                    </div>
                    <div class="col-12 col-md-6">
                        <%= form.input :period_start, html5: true %>
                    </div>
                    <div class="col-12 col-md-6">
                        <%= form.input :period_end, html5: true %>
                    </div>

                    <div class="col-12 col-md-6">
                        <%= form.input :email %>
                    </div>

                    <div class="col-12 col-md-6">
                        <%= form.input :responsable %>
                    </div>

                    <div class="col-12 col-md-6">
                    <%= form.input :txtEnter %>
                </div>
                <div class="col-12 col-md-6">
                    <%= form.input :txtAbout %>
                </div>

                <div class="col-12 col-md-6">
                    <%= form.input :comission %>
                </div>

                <div class="col-12 col-md-6">
                    <%= form.input :primaryColor %>
                </div>
                <div class="col-12 col-md-6">
                    <%= form.input :secondaryColor %>
                </div>
                <div class="col-12 col-md-6">
                    <%= form.input :status, collection: { 'Inscrições Abertas': 'registrations_open',
                                      'Evento em andamento': 'event_in_progress',
                                      'Evento encerrado': 'event_closed',
                                      'Cancelado': 'cancelled'
                                    }, include_blank: false %>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-around">
            <%= link_to 'voltar' , events_path, class: 'btn btn-secondary' %>
                <%= form.button :button, class: 'btn btn-success' %>
                    <% end %>
        </div>
        </div>
        </div>

        </div>