<!-- Conteúdo do Evento -->
<div class="row mt-5">
  <div class="col-md-8">
    <h1><%= @event.name %></h1>

    <!-- Detalhes adicionais do evento -->
    <ul class="list-unstyled">
      <li><strong>Data de Início:</strong> <%= @event.period_start.strftime('%d/%m/%Y') %></li>
      <li><strong>Data de Término:</strong> <%= @event.period_end.nil? ? "Indefinido" : @event.period_end&.strftime('%d/%m/%Y') %></li>
      <li><strong>Local:</strong> <%= @event.local %></li>
    </ul>
  </div>

  <!-- Barra lateral com informações adicionais ou links -->
  <div class="col-md-4">
    <div class="sidebar">
      <h4>Informações</h4>
      <p> <%= @event.txtEnter %></p>
      <div class="d-flex justify-content-between">
        <% if current_user %>
          <% unless ( @event.registrations.exists?(user: current_user) || @event.user == current_user) %>
            <%= simple_form_for [@event, @registration] do |form| %>
              <%= form.submit 'Inscrever', class: 'btn btn-success ' %>
            <% end %>
          <% else %>
            <a href="#"><h4 class="mt-2 text-success"><i class="bi bi-check-lg "></i></h4></a>
            <%= link_to event_registration_path(current_user, @event.id)\
                        , data: { turbo_confirm: 'Você tem certeza?', turbo_method: :delete }\
                        , class: 'btn btn-danger  me-2' do %>
                <i class="bi bi-x-lg"></i>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to 'voltar' , events_path, class: 'btn btn-secondary' %>
      </div>
      <!-- Botão de inscrição no evento -->
      
    </div>
  </div>
</div>