<div id="content-wrapper" class="d-flex flex-column mt-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lista de Frequência de Atividades</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Atividade: <%= @activity.name %></h6>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Data</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= l(@activity.period_start, format: :long) %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total de inscritos</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @activity_presence_list.count %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if !@activity_presence_list.any? %>
    <div class="alert alert-warning" role="alert">Ainda não há inscritos.</div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">N.° Inscrição</th>
            <th scope="col">Nome</th>
            <th scope="col">Assinatura</th>
          </tr>
        </thead>
        <tbody>
          <% @activity_presence_list.each do |activity|   %>
            <tr>
              <th scope="row"><%= activity.id %></th>
              <td><%= activity.email %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
       <div class="d-flex justify-content-center">
      </div>
    </div>
  <% end %>
</div>



