<div class="container">
  <div class="row mt-4">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Título</th>
          <th scope="col">Palestrante</th>
          <th scope="col">Local</th>
          <th scope="col">Carga Horária</th>
          <th scope="col">Data e Hora</th>
          <th scope="col">Ações</th>
        </tr>
        <tr>
          <td>
            <%= @activity.title %>
          </td>
          <td>
            <%= @activity.name %>
          </td>
          <td>
            <%= @activity.speaker %>
          </td>
          <td>
            <%= @activity.local %>
          </td>
          <td>
            <%= @activity.certificate_hours %>
          </td>
          <td>
            <%= l(@activity.period_start, format: :short ) %> às <%=  @activity.period_end %>
          </td>
          <td>
            <% if @activity.activity_registrations.exists?(user: current_user) || @event.user == current_user %>
              <button class="btn btn-success">Inscrito</button>
            <% else %>
              <%= link_to 'Inscrever', event_activity_register_path(@event, @activity), data: { turbo_method: :post }, class: 'btn btn-warning' %>
            <% end %>
          </td>
        </tr>
    </table>
  </div>
  <%= link_to 'voltar' , admin_event_path(@event), class: 'btn btn-secondary' %>
</div>