<div class="container">
  <div class="row mt-4">
    <div class="d-flex">
      <div class="flex-grow-1">
        <h2 class="text-center">Lista de Usuários</h2>
      </div>
    </div>
    <div class="container mt-5">
      <div class="d-flex justify-content-between">
        <h2 class="mb-4">Usuários</h2>
        <span>
          <%= link_to new_admin_user_path, class: "btn btn-primary" do %>
            <i class="bi bi-plus-square"></i>
          <% end %>
        </span>
      </div>
      <table class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Nome</th>
            <th>Role</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td>
                <div class="d-flex justify-content-around">
                  <%= link_to admin_user_path(user), class: 'btn btn-info btn-sm me-2' do %>
                  <i class="bi bi-eye"></i>
                  <% end %>
                  <%= link_to edit_admin_user_path(user), class: 'btn btn-warning btn-sm me-2' do %>
                    <i class="bi bi-pencil-square"></i>
                  <% end %>
                  <%= link_to admin_user_path(user), data: { turbo_confirm: 'Tem certeza?', turbo_method: :delete }, class: 'btn btn-danger btn-sm' do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>