<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SISEVE" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true , type: "module" %>
  </head>

  <body>
    <div class="row">
      <div class="container">
        <% if controller_name == "home" %>
          <%= render "shared/navbar" %>
        <% end %>
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
