<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SISEVE" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container">
        <% if @event.banner.attached? %>
          <%= image_tag @event.banner, class: "banner-evento" %>
        <% else %>
          <div class="banner-evento">
            <img src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="Banner do Evento" class="img-fluid w-100" />
          </div>
        <% end %>
         <!-- Navegação -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
          <ul class="navbar-nav mr-auto d-flex justify-content-around w-100">
            <li class="nav-item">
              <%= link_to 'Página Principal', root_path(@event), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sobre o Evento', event_path(@event), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Cronograma de Atividades do Evento', event_activities_path(@event),class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <a href="/#fale-conosco" class="nav-link">Fale Consoco</a>
            </li>
            <li class="nav-item ms-auto ">
              <% if current_user %>
              <li class="nav-item pe-3 mt-2">
                Logado como: <%= current_user.email %>
              </li>
              <% else %>
               <%= link_to 'Login', user_session_path , class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </nav>
        <div class="row">
          <%= yield %>
        </div>
    </div>
  </body>
</html>
